<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

  <title>Place Order</title>
</head>

<body>
  <header>

  </header>
  <main>
    <div class="container">
      <form action="" method="post">
        <fieldset>
          <legend>Place Order</legend>
          <label for="customerList">Customer
            <select name="customer" id="customerList">
            </select>
          </label>
          <label for="LocationList">Location
            <select name="location" id="LocationList">
            </select>
          </label>
          <div>
            <label for="ProductList">Product
              <select name="product" id="ProductList">
              </select>
            </label>
            <label for="quantity">Quantity<input type="number" name="quantity" id="quantity" placeholder="0" min="0"
                max=50></label>
          </div>
          <div>
            <a href="../../index.html">Cancel</a>
            <button id="actionBtn" type="button">Add</button>
          </div>
        </fieldset>
      </form>
    </div>`
    <div class="container" id="orderResults" hidden></div>
  </main>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>
  <script src="../../public/JS/storeOperations.js"></script>
  <script src="../../public/JS/placeOrder.js"></script>
</body>

</html>