<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Place Order</title>
</head>

<body>
  <header>

  </header>
  <main>
    <form action="" method="post">
      <fieldset>
        <legend>Place Order</legend>
        <div>
          <label for="">
            <select name="" id="">
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </select>
          </label>
          <select name="" id="">
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
          </select>
          <select name="" id="">
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
          </select>
        </div>
        <div>
          <label for="">Last Name<input type="number" name="" id="" placeholder="0"></label>
        </div>
        <div>
          <a href="../../index.html">Cancel</a>
          <button id="actionBtn" type="button">Add</button>
        </div>
      </fieldset>
    </form>`
  </main>
  <script src=""></script>
</body>

</html>