<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View Order Details</title>
</head>

<body>
  <header>

  </header>
  <main>
    <form action="" method="post">
      <fieldset>
        <legend>Select Order</legend>
        <div>
          <select name="" id="">
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
          </select>
        </div>
        <div>
          <a href="../../index.html">Cancel</a>
        </div>
      </fieldset>
    </form>`
  </main>
  <script src=""></script>
</body>

</html>