<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Customer Order History</title>
</head>

<body onload="LoadCustomerList()">
  <header>

  </header>
  <main>
    <form action="" method="post">
      <fieldset>
        <legend>Select Customer</legend>
        <label for="customer">Customer
          <select name="customer" id="customerList">
          </select>
        </label>
        <div>
          <a href="../../index.html">Cancel</a>
        </div>
      </fieldset>
    </form>`
  </main>
  <script src="../../public/JS/storeOperations.js"></script>
</body>

</html>