<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Location Order History</title>
</head>

<body onload="LoadLocationList()">
  <header>

  </header>
  <main>
    <form action="" method="post">
      <fieldset>
        <legend>Select Location</legend>

        <label for="LocationList">Location
          <select name="location" id="LocationList">
          </select>
        </label>

        <div>
          <a href="../../index.html">Cancel</a>
          <button id="actionBtn" type="button">Go</button>
        </div>
      </fieldset>
    </form>`
  </main>
  <script src="../../public/JS/storeOperations.js"></script>
</body>

</html>